.intro {
  align-items: center;
}

.input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem;

  input {
    margin-left: 0.5rem;
    background-color: rgb(118, 164, 179);
    font-size: 1.2rem;
    border-style: none;
    text-align: center;
  }
}

.btn {
  background-color: #4caf50;
  margin-top: 3rem;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  font-size: 1.5rem;
  text-transform: uppercase;
  border-radius: 0.4rem;
  letter-spacing: 2px;
  font-weight: 600;

  &:hover {
    background-color: rgba($color: #f5c7ac, $alpha: 0.8);
    color: $dark-text;
    cursor: pointer;
  }
}

.footer {
  display: flex;
  flex-direction: column;

  border: 2px solid;
  border-color: rgba(32, 58, 68, 0.5);
  color: rgb(232, 236, 174);

  max-width: 30rem;
  width: 100%;
  line-height: 1.7rem;
  font-size: 1.1rem;

  margin-top: 3.5rem;
  border-radius: 0.5rem;
  padding: 1rem;
  justify-content: space-between;
  letter-spacing: 1px;
  a {
    text-decoration: none;
    color: azure;
    &:focus,
    :active {
      text-shadow: black;
      text-decoration: underline;
      color: burlywood;
    }
  }
}
